* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    overflow: hidden;
}

/*::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #0B3E67;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    background: #0071BC;
}*/
#cameraDialog, #historyPanel {
  transform: translate3d(0) !important;
}

div#historyPanel, div#actionCenter, li.actionItem, li.actionHead {
    background-color: #105994 !important;
    color: white !important;
}

a.noborder {
  box-shadow: none !important;
  text-shadow: none !important;
  border: 0 !important;
  background-color: transparent !important;
}

a.noborder2 {
  box-shadow: none !important;
  text-shadow: none !important;
  border: 0 !important;
}

.noborder3:after {
  background-color: transparent;
}

span#rdesc {
  font-weight: bold;
}

.bgrec {
  border: 0px;
  margin-left: 1px;
  margin-right: 1px;
}

p#recognitionRes {
  font-size: 12pt;
  font-weight: bold;
  text-align: middle;
}

#imgDesc {
  display: none;
}

div#imgContent {
    margin-top: 5px;
    margin-bottom: 5px;
}

#resultPanel {
  display: none;
}

#imgPlaceholder {
  border-radius: 5px;
}

#historyPanel h1, #actionCenter h1 {
    font-weight: normal;
}

div#convertList {
    overflow-x: hidden;
    overflow-y: auto;
}

li {
    position: absolute;
    -webkit-backface-visibility: hidden;
    -webkit-opacity: 0;
    -webkit-transform: translate3d(100px, 0px, 0px);
    -webkit-transition: all 200ms ease;

    backface-visibility: hidden;
    opacity: 0;
    transform: translate3d(100px, 0px, 0px);
    transition: all 200ms ease;
}

li.resultList, li.actionItem, li.actionHead {
    -webkit-transform: none;
    -webkit-backface-visibility: visible;
    transform: none;

    backface-visibility: visible;
    -webkit-opacity: 1;
    opacity: 1;
}

ul#actionCntr {
  margin-top: 5px !important;
  -webkit-transform: none;
  transform: none;
}

.collapseHeader {
  margin-top: -12px !important;
  margin-left: -15px !important;
  margin-right: -15px !important;
  margin-bottom: -2px !important;
}

li.actionHead {
  border-color: #004675 !important;
  border-left-width: 0 !important;
  border-right-width: 0 !important;
  margin-bottom: -10px !important;
}

ul.actionList li {
  margin-top: 2px !important;
  margin-bottom: -2px !important;
  margin-left: -15px !important;
  margin-right: -15px !important;
}

ul.actionList li a {
  font-weight: normal;
  text-indent: 10px;
}

.ui-collapsible-content {
    margin-bottom: -4px !important;
}

li.showAnim {
    -webkit-opacity: 1;
    -webkit-transform: translate3d(0px, 0px, 0px);

    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
}

div#input {
    position: relative;
    z-index: 100;
}

div.inputShown {
    -webkit-backface-visibility: hidden;
    -webkit-opacity: 1;
    -webkit-transform: translate3d(0px, 0px, 0px);
    -webkit-transition: all 200ms ease;

    backface-visibility: hidden;
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
    transition: all 200ms ease;
}

div.inputHidden {
    -webkit-opacity: 0;
    -webkit-transform: translate3d(0px, -50px, 0px);
    opacity: 0;
    transform: translate3d(0px, -50px, 0px);
}

#inputGrp .ui-block-a {
    width: 64% !important;    
}

#inputGrp .ui-block-b {
    width: 18% !important;
}


#inputGrp .ui-block-c {
    width: 18% !important;
}

#inputGrp .ui-controlgroup-controls {
    width: 100% !important;
} 

.controlgroup-textinput {
    padding-top:.22em;
    padding-bottom:.22em;
}

a#cameraPopup {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}


p#equationArea {
  display: none;
}


#toggleSys {
    text-overflow: clip;
}

#toggleSys span {
    font-size: 9pt;
}

div#eqAns, p#eqAnswer {
   font-size: 18pt;
   padding-top: 8px;
   text-align: center;
   font-weight: bold;
   text-overflow: ellipsis;
   white-space: nowrap;
   overflow: hidden;
}

sub.subSys {
  font-size: 8pt;
}

span.valueEquation {
  text-overflow: ellipsis;
   white-space: nowrap;
   overflow: hidden;
}

table.ui-responsive {
  width: 100% !important;
}

table.number-list td {
  padding-top: 5px;
  padding-bottom: 5px;
}

table.number-list thead th,
table.number-list tbody tr:last-child {
  border-bottom: 1px solid #d6d6d6;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

table.number-list tbody th,
table.number-list tbody td {
    border-bottom: 1px solid #e6e6e6; /* non-RGBA fallback  */
    border-bottom: 1px solid rgba(0,0,0,.05);
}
table.number-list tbody tr:last-child th,
table.number-list tbody tr:last-child td {
    border-bottom: 0;
}
table.number-list tbody tr:nth-child(odd) td,
table.number-list tbody tr:nth-child(odd) th {
    background-color: #eeeeee; /* non-RGBA fallback  */
    background-color: rgba(0,0,0,.04);
}

.ui-flipswitch {
  background-color: lightgray !important;
  color: black !important;
  font-weight: normal !important;
}

.ui-flipswitch-active {
  background-color: #0071BC !important;
  color: white !important;
  font-weight: bold !important;
}

input#txtNumber::-webkit-input-placeholder {
    color: gray !important;
    text-shadow: none !important;
}

input#txtNumber::-ms-input-placeholder {
    color: gray !important;
    text-shadow: none !important;
}

input#txtNumber {
    color: black;
    text-shadow: none;
    font-weight: normal;
}


.ui-input-text {
    background-color: rgba(255,255,255,1) !important;
}

div.btnInp {
    width: 16px !important;
}

div.rightBtn {
    text-align: right;
}

div#convResults, div#historyArea {
    margin-top: 20px;
}

.custom-corners .ui-bar {
  -webkit-border-top-left-radius: inherit;
  border-top-left-radius: inherit;
  -webkit-border-top-right-radius: inherit;
  border-top-right-radius: inherit;
}

.custom-corners .ui-body {
  border-top-width: 0;
  -webkit-border-bottom-left-radius: inherit;
  border-bottom-left-radius: inherit;
  -webkit-border-bottom-right-radius: inherit;
  border-bottom-right-radius: inherit;
}

div#results {
    position: relative;
    z-index: 200;
    visibility: hidden;
    font-size: 0.7em;
}
div.hideResult {
    -webkit-backface-visibility: hidden;
    -webkit-opacity: 0;
    -webkit-transform: translate3d(0px, 0px, 0px);
    -webkit-transition: all 200ms ease;

    backface-visibility: hidden;
    opacity: 0;
    transform: translate3d(0px, 0px, 0px);
    transition: all 200ms ease;
}

div.showResult  {
    -webkit-opacity: 1;
    -webkit-transform: translate3d(0px, -110px, 0px);
    opacity: 1;
    transform: translate3d(0px, -110px, 0px);
}

.contentBody {
    background-color: #0B3E67 !important;
}

h3.tabTitle {
    font-size: 12pt;
}

div.convDetails, div#ipAns {
    text-align: center;
    margin-top: -25px !important;
}

.smSub {
    font-size: 8pt;
}

p#convNum, button#ipAns {
    font-size: 24pt;
    font-weight: bold;
}

p#convNum, #numberSystemAns div h2 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

#numberSystemAns div h2 {
  width: 90% !important;
  margin-left: auto;
  margin-right: auto;
}

#showUp p {
  width: 80%;
  overflow-x: auto;
}

p#convType {
    margin-top: -25px;
}

span#cType {
    font-weight: bold;
}

div.answer {
    text-align: center;
    background-color: #0071BC;
}

p.typeDesc {
    margin-top: -10px;
}


div#blockA {
    border-top-left-radius: 10px;
}

div#blockB {
    border-top-right-radius: 10px;
}

div#blockC {
    border-bottom-left-radius: 10px;
}

div#blockD {
    border-bottom-right-radius: 10px;
}

div#blockA, div#blockB {
    border-bottom: 3px solid #0B3E67;

}

div#blockA, div#blockC {
    border-right: 3px solid #0B3E67;
}

div#solutionContent {
    font-size: 10pt;
}

div#solutionContent, div#eqDetails {
    overflow-x: hidden;
    overflow-y: scroll;
}

table {
    text-align: center;
}

span.inlineIcon {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  width: auto !important;
}